@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:ital,wght@0,400;0,500;1,700&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c0ce94d;
}

.container {
  width: 84%;
  height: 90vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-header {
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  text-align: center;
}

.title h3 {
  color: #1ed5b9;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36d0ea;
  padding: 1rem;
}

.form-image img {
  width: 31rem;
}

.form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #32425b;
  padding: 3rem;
}

.input-group {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.form-group label {
  color: #fff;
}

.form-group input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.checkbox-group input {
  margin-right: 0.35rem;
}

.continue-button button {
  width: 200px;
  background-color: #1ed5b9;
  border: none;
  cursor: pointer;
  padding: 0.62rem;
  border-radius: 5px;
  color: #fff;
}

.continue-button button:hover {
  background-color: #097b6a;
}

.error-message {
  color: red;
}

.header-table {
  height: 30px;
  background-color: #1ed5b9;
  align-items: flex-end;
  display: flex;
}

.header-table img {
  width: 80px;
}

.name-table {
  padding-left: 50px;
  margin-left: 250px;
  color: #fff;
}

.table-container {
  width: 80%;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #32425b;
  color: #fff;
}
